body{
    background-image: url("../src/no-game-no-life-anime-movie-rlxzsurrzf132ob1.jpg");
    background-position: top;
    font-family: "Macondo";;
}
#plot1{
    position: absolute;
    font-size: 150%;
    border-radius: 25px;
    width: 30%;
    top: 10%;
    right: 10%
}
#plot2 {
    position: absolute;
    font-size: 150%;
    border-radius: 25px;
    width: 50%;
    top: 35%;
    left: 10%
}
#plot3 {
    position: absolute;
    font-size: 150%;
    border-radius: 25px;
    width: 30%;
    top: 60%;
    right: 10%
}