*{
    margin: 0;
    padding: 0;
}
#index_body{
    background-image: url("indexBackgroudPic.jpg");
    background-position: top;
    animation-name: st;
    animation-duration: 5s;
}

@keyframes st{
    0%{
        background-image: url("START.png");
    }10%{
    }100%{
        background-image: url("indexBackgroudPic.jpg");
    }
}

nav{
    opacity: 95%;
    display: block;
    animation-name: wds;
    animation-duration: 8s;

}
div{
    width: 80%;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #ededed;
    text-align: center;
    font-size: 1em;
    font-family: "Comic Sans MS";
}

#nav{
    font-size: 45px;
}

a{
    text-decoration: none;
}

a:hover{
    color: #ededed;
    transition: 300ms;
}

@keyframes wds{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 95%;
    }
}



footer{
    clear: both;
}


p{

    font-size: 30px;
    color: #436184;
}
