*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("anime-girls-no-game-no-life-shiro-no-game-no-life-sora-no-game-no-life-wallpaper-preview.jpg");
    background-position: top;
    animation-name: st;
    animation-duration: 5s;
}
@keyframes st{
    0%{
        background-image: url("backPic.png");
    }
    100%{
        background-image: url("anime-girls-no-game-no-life-shiro-no-game-no-life-sora-no-game-no-life-wallpaper-preview.jpg");
    }
}
nav{
    opacity: 95%;
    animation-name: wds;
    animation-duration: 8s;
}
div{
    width: 100%;
    height: 75px;
    background-color: #ededed;

}

@keyframes wds{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 95%;
    }
}

article{
    width: 60%;
    height: 100px;
    background-color: #cd96bc;
    float: left;
}
article:hover{
    background-color: #ededed;
}
aside{
    width: 40%;
    height: 100px;
    background-color: #acd0f4;
    float: right;
}

aside:hover{
    background-color: #ededed;
}

footer{
    clear: both;
}

h1{
    font-family: "Comic Sans MS";
    font-size: 45px;
    color: #436184;
    text-align: center;
}


p{
    font-family: "Comic Sans MS";
    font-size: 30px;
    color: #436184;
    text-align: center;
}
