*{
    margin: 0;
    padding: 0;
}
#index_body{
    background-image: url("d86490a4732a014b9b6fdd585766c8989c5fde74_hq.jpg");
    background-position: top;
    animation-name: st;
    animation-duration: 5s;
}

@keyframes st{
    0%{
        background-image: url("backPic.png");
    }10%{
    }100%{
        background-image: url("d86490a4732a014b9b6fdd585766c8989c5fde74_hq.jpg");
    }
}

nav{
    opacity: 95%;
    display: block;
    animation-name: wds;
    animation-duration: 8s;

}
div{
    width: 80%;
    height: 75px;
    margin: 20px auto;
    background-color: #ededed;
    text-align: center;
    font-size: 40px;
    font-family: "Comic Sans MS";
}

a{
    text-decoration: none;
}

@keyframes wds{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 95%;
    }
}

/*article{*/
/*    width: 60%;*/
/*    height: 100px;*/
/*    background-color: #cd96bc;*/
/*    float: left;*/
/*}*/
/*article:hover{*/
/*    background-color: #ededed;*/
/*}*/
/*aside{*/
/*    width: 40%;*/
/*    height: 100px;*/
/*    background-color: #acd0f4;*/
/*    float: right;*/
/*}*/

/*aside:hover{*/
/*    background-color: #ededed;*/
/*}*/

footer{
    clear: both;
}


p{

    font-size: 30px;
    color: #436184;
}
